
#kisan-header-logo {

  /* For small screens when the navbar collapses into menu icon */

  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  position: relative;
  top: 15px;
  float: right;
 
}

.text-logo {
  letter-spacing: 1px;
}

footer ul li {
  font-size: 0.8em;
}

@media only screen and (min-width: 993px) {

  #kisan-header-logo {

  /* For small screens when the navbar is exapanded */

    width: 30px;
    height: 30px;
    max-resolution: righ;t: 10px;
    position: relative;
    top: 17px;
    float: left;

  }

}

#kisan-footer-logo {

  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  position: relative;
  float: left;

}

#logo-caption {
  margin-left:40px;
  font-size: 0.8em;

  /* So that text doesn't comes directly below the logo */

}


.upper{
  text-transform: uppercase
}

.custom-font, .btn, .btn-flat, .btn-small {
  font-family: 'Open Sans', sans-serif;
}

/* question view styles css */

a:hover:not(.no-underline)
{
  text-decoration: underline;
}

/* label underline focus color */

.no-margin
{
  margin-bottom:0!important;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


.card-name
{
  font-size:0.7em;
  font-weight:400;
}

.question-content, .answer-content
{
  padding:15px!important;
}

.flow-text
{
  font-weight:300!important
}

.header-font
{
  font-family: 'Geneva', 'Tahoma', sans-serif!important;
}

.pointer
{
  cursor: pointer;
}

.card-time
{
  font-size: 0.4em;
  font-weight:400;
  color: #9e9e9e;
  margin-top:-15px;
  /* margin-left:5px; */
}

input:focus, textarea:focus{
  border-bottom-color:#1e88e5!important;
  -webkit-box-shadow : 0 1px 0 0 #1e88e5!important;
  box-shadow : 0 1px 0 0 #1e88e5!important;
}

.upvote, .upvote i.material-icons, .upvote .upvote-count
{
  color:#9e9e9e!important;
}

.upvote.upvoted, .upvote.upvoted i.material-icons, .upvote.upvoted .upvote-count
{
  color:#1e88e5!important
}


.dropdown-content li span, .dropdown-content li a
{
  color:#1e88e5!important
}

#search-container
{
  border-radius:11px!important;
  padding:5px;
}

#search-container i.material-icons.prefix{

  top: 0.9rem!important;
  left: 1rem!important;

}

#search
{
  border:0!important;
  box-shadow: none!important ;
  margin-bottom:0!important;
  font-size:1.2em;
}

.input-field .prefix.active {

  color:#1e88e5!important;
}



.fit-image, .fit-video
{
  width:auto;
  object-fit: contain;
  height: 100%!important;
}


.fit-video
{
  width:100%!important;
}


.iconss {
  margin-right: 10px;
}

a.gh:hover {
  color: #24292e !important;
}


.question-item .title{

  font-size: 1em!important;

}

.question-item .secondary {
  font-size: 0.8em;
}