<html>
    <head>
        
<meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   </head>
   <body>
       <div class="row center-align z-depth-2 blue darken-1 white-text">
           <h5 style="margin:0;padding:15px" >Prateek Chatterjee</h5>
       </div> 
    <div>   
      <ul class="collection left-align">
            <li class="collection-item">detail</li>
            <li class="collection-item">detail</li>
            <li class="collection-item">detail</li>
            <li class="collection-item">detail</li>
          </ul>
        <span class="row right-align"> QUESTIONS</span>
    </div>  
   </body> 
</html>