{% extends 'forum/inner/base.html' %}

{% load i18n %}

{% block title %} {% trans "Search" %} {% endblock title %}

{% block page-title %} {% trans "Search" %} {% endblock page-title %}

{% block content %}

    <div class="container">

        <form class="row" method="GET">
            <div class="input-field col s12 z-depth-2" id="search-container">
                <i class="prefix material-icons">search</i>
                <input type="search" name="q" value="{{search_term}}"  placeholder="{% trans "Search questions" %}" id="search" />
            </div>
            <div class="right-align">
                <button type="submit" class="btn-small blue darken-3 waves-effect waves-light"> {% trans "Search" %} <i class="material-icons left">search</i> </button>
            </div>
        </form>

        <div class="divider"></div>
        <div class="row"></div>

        <div class="row">

                <h5> 
                    {% if search_term %}
                        {% trans "Results for" %} <span class="blue-text">{{search_term}}</span>
                    {% else %}
                        {% trans "Top questions" %}
                    {% endif %}
                </h5>
                <div class="row"></div>

    
            {% for question in questions %}
                {{ question|question_markup:farmer|safe }}
            {% empty %}
                <div class="row flow-text grey-text"> {% trans "No results" %} </div>
            {% endfor %}

        </div>




    </div>

{% endblock content %}