{% extends 'forum/inner/base.html' %} 

{% load static %}

{% load i18n %}

{% block title %}  {% trans "Specialists" %}  {% endblock title %} 

{% block page-title %} {% trans "Specialists" %} {% endblock page-title %} 


{% block content %}

<div class="container">


  <!-- <blockquote class="flow-text" style="border-left-color: #1976d2;">
    {% trans "Want to help farmers? Join our panel of specialists. Contact us" %} <a href="mailto:puchokisan@gmail.com"> {% trans "here" %} </a>
  </blockquote> -->


<ul class="collection">

  {% for specialist in specialists %}

    <li class="collection-item avatar">
      <a target="_blank" rel="nopener noreferrer" href="https://www.flaticon.com/free-icons/expert" title="expert icons" alt="Expert icons created by wanicon - Flaticon">
        <img
          src="{% static 'forum/images/expert.png' %}"
          alt="{{specialist}}"
          class="circle"
        />
      </a>
      <span class="title"> {{specialist}} </span>
    
    <p>
      {{specialist.phone_number}} 
      <br/>
      <span class="new badge blue" data-badge-caption="{{specialist.subject}}"></span>
    </p>
    
    <a class="secondary-content">
      <i class="material-icons blue-text">phone</i>
    </a>

  </li>

  {% empty %}
    <div class="flow-text">No specialists</div>
  {% endfor %}

  

</ul>

</div>


{% endblock content %}
