{% extends 'forum/inner/base.html' %} {% block title %} Specialists - Kisan {% endblock title %} 
{% block page-title %}Specialists{% endblock page-title %} 


{% block content %}

<div class="container">

<ul class="collection">
  <li class="collection-item avatar">
    <img
      src="https://image.flaticon.com/icons/svg/190/190683.svg"
      alt=""
      class="circle"
    />
    <span class="title">Dr. Karmendra Tyagi</span>
    <p>
      Phone: +91-9407789765 <br />
      <span id="oo" class="new badge blue" data-badge-caption="Farming"></span>
    </p>
    <a href="" class="secondary-content"
      ><i class="material-icons blue-text">phone</i></a
    >
  </li>

  <li class="collection-item avatar">
    <img
      src="https://image.flaticon.com/icons/svg/190/190683.svg"
      alt=""
      class="circle"
    />
    <span class="title">Dr. Gaurav Gupta</span>
    <p>
      Phone: +91-9407789765 <br />
      <span id="oo" class="new badge blue" data-badge-caption="Bussiness"></span>
    </p>
    <a href="tel:+91-9039611254" class="secondary-content"
      ><i class="material-icons blue-text">phone</i></a
    >
  </li>
</ul>
</div>


{% endblock content %}
