{% extends 'forum/outer/base.html' %}
{% load i18n %}

{% block title %} {% trans "Government rules" %} {% endblock title %}

{% block content %}

    <div class="row">
        <h5 class="center"> {% trans "Programs and Schemes" %}</h5>
        <div class="col s12">
            <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            {% trans "Rastriya Krishi Vikas Yojna (RKVY)" %}
                            <i class="material-icons">keyboard_arrow_down</i>
                        </div>

                        <div class="collapsible-body">
                            <span>
                                    {% trans "It is implemented with a view to promote organic farming in the country. To improve soil health and organic matter content and increase net income of the farmer so as to realise premium prices. Under this scheme, an area of 5 lakh acre is targeted to be covered though 10,000 clusters of 50 acre each, from the year 2015-16 to 2017-18." %}
                                    <a href="http://agriportal.cg.nic.in/agridept/AgriEn/CentralScheme.html#collapseFive">
                                    {% trans "Click to read more." %}
                                    </a> 
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"> {% trans "Crop Insurance" %} <i class="material-icons">keyboard_arrow_down</i></div>
                        <div class="collapsible-body">
                            <span>
                                {% trans "Crop insurance is purchased by agricultural producers, and subsidized by the federal government, to protect against either the loss of their crops due to natural disasters, such as hail, drought, and floods, or the loss of revenue due to declines in the prices of agricultural commodities." %}
                                <a href="http://agriportal.cg.nic.in/agridept/AgriEn/CentralScheme.html#collapseOne">
                                 {% trans "Click to read more." %}</a> 
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                           {% trans "National Mission on Sustainable Agriculture (NMSA)" %}
                            <i class="material-icons ">keyboard_arrow_down</i>
                        </div>
                        <div class="collapsible-body">
                            <span>
                                {% trans "NMSA is one of the eight Missions under National Action Plan on Climate Change (NAPCC). It aims at promoting Sustainable Agriculture through climate change adaptation measures, enhancing agriculture productivity especially in rainfed areas focusing on integrated farming, soil health management, and synergizing resource conservation. NMSA as a programmatic intervention caters to Mission Deliverables that focuses mainly on conservation agriculture to make farm sector more productive, sustainable, remunerative and climate resilient by promoting location specific integrated/composite farming systems." %}                                
                                <a href="http://agriportal.cg.nic.in/agridept/AgriEn/CentralScheme.html#collapseOne"> {% trans "Click to read more." %}</a>    
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"> {% trans "National Food Security Mission (NFSM)" %} <i class="material-icons " >keyboard_arrow_down</i></div>
                        <div class="collapsible-body">
                            <span>
                            {% trans "In view of the stagnating food grain production and an increasing consumption need of the growing population, Government of India has launched this Centrally Sponsored Scheme, ‘National Food Security Mission’ in October 2007. The Mission met with an overwhelming success and achieved the targeted additional production of rice, wheat and pulses. The Mission continued during 12th Five Year Plan with new targets of additional production of food grains of 25 million tonnes of food grains comprising of 10 million tonnes rice, 8 million tonnes of wheat, 4 million tonnes of pulses and 3 million tonnes of coarse cereals by the end of 12th Five Year Plan." %}                            
                            <a href="http://agriportal.cg.nic.in/agridept/AgriEn/CentralScheme.html#collapseOne"> {% trans "Click to read more." %}</a> 
                                
                            </span></div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                           {% trans "National Mission on Oil Seeds and Oil Farms (NMOOP)" %}
                            <i class="material-icons" >keyboard_arrow_down</i>
                        </div>
                        
                        <div class="collapsible-body">
                            <span>
                            {% trans "India is one of the major oilseeds grower and importer of edible oils. India’s vegetable oil economy is world’s fourth largest after USA, China & Brazil. The oilseed accounts for 13% of the Gross Cropped Area, 3% of the Gross National Product and 10% value of all agricultural commodities. This sector has recorded annual growth rate of area, production and yield @ 2.44%, 5.47% and 2.96% respectively during last decade (1999-2009)." %}
                            <a href="http://agriportal.cg.nic.in/agridept/AgriEn/CentralScheme.html#collapseOne"> {% trans "Click to read more." %}</a> 
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"> {% trans "National Mission on Agriculture Extension and Technology (NMAET)" %} <i class="material-icons ">keyboard_arrow_down</i></div>
                        <div class="collapsible-body">
                            <span>
                                {% trans "The objective of the Scheme is to make the extension system farmer-driven and farmer-accountable by way of new institutional arrangements for technology dissemination. It aims to restructure and strengthen agricultural extension to enable delivery of appropriate technology and improved agronomic practices to farmers." %}
                                <a href="http://agriportal.cg.nic.in/agridept/AgriEn/CentralScheme.html#collapseOne"> {% trans "Click to read more." %}</a> 
                                
                            </span>
                        </div>
                    </li>          
            </ul>
        </div>
    </div>

{% endblock content %}