{% extends 'forum/outer/base.html' %}
{% load i18n %}

{% block title %} {% trans "Government rules" %} {% endblock title %}

{% block content %}

    <div class="row">
        <h5 class="center"> {% trans "Programs and Schemes" %}</h5>
        <div class="col s12">
            <ul class="collapsible">
                {% for rule in rules %}
                    <li>
                        <div class="collapsible-header"> {{ rule.name }} <i class="material-icons">keyboard_arrow_down</i></div>
                        <div class="collapsible-body">
                            <span> {{ rule.description }}
                                <a href="{{ rule.link }}">
                                    {% trans "Click to read more." %} 
                                </a> 
                            </span>
                        </div>
                    </li>
                {% endfor %}         
            </ul>
        </div>
    </div>

{% endblock content %}