{% extends 'forum/outer/base.html' %}
{% load i18n %}

{% block title %} {% trans "Login" %} {% endblock title %}


{% block content %}

<form method="POST">

    <div class="card">

        <div class="card-content">

            <span class="card-title custom-font"> {% trans "Login" %} </span>

             <div class="container">
                <div class="row"></div>
            </div>


            <p>
                    {% csrf_token %}

                    <div class="input-field">
                        {{form.phone_number.label_tag}}
                        {{form.phone_number}}
                        <span class="helper-text" data-error="{{form.phone_number.errors}}"></span>
                    </div>
                        
                    <div class="input-field">
                        {{form.password.label_tag}}
                        {{form.password}}
                        <span class="helper-text" data-error="{{form.password.errors}}"></span>
                    </div>

            </p>

        </div>

        <div class="card-action right-align">
          <a href="{% url 'forum:signup' %}" class="blue-text btn-flat text-darken-3 no-underline waves-effect"> {% trans "Signup" %} </a>
          <button type="submit" class="btn blue darken-3" > {% trans "Login" %} </button>
        </div>

    </div>

</form>

{% endblock content %}
