{% extends 'forum/outer/base.html' %}

{% load i18n %}

{% block title %} {% trans "Signup" %} {% endblock title %}

{% block content %}

    {% if is_message_send %}

        <div style="height:80vh;" class="valign-wrapper hide-on-med-and-down flow-text">
            <div class="card-panel blue white-text">
             {% trans "An verification link is send to your registered mobile number. Click the link to activate your account" %}
            </div>
        </div>

        <div class="card-panel blue white-text hide-on-large-only flow-text">
             {% trans "An verification link is send to your registered mobile number. Click the link to activate your account" %}
        </div>

<!-- we code -->

    {% else %}

        <div class="card-panel grey lighten-4 grey-text z-depth-0 text-darken-4">
        <h4 class="row center-align"> {% trans "Signup" %} </h4>
        <form method="POST" >

            {% csrf_token %}

            <div class="input-field">
                {{form.phone_number.label_tag}}
                {{form.phone_number}}
                <span class="helper-text" data-error="{{form.phone_number.errors}}"></span>
            </div>

            <div class="input-field">
                {{form.first_name.label_tag}}
                {{form.first_name}}
                <span class="helper-text" data-error="{{form.first_name.errors}}"></span>
            </div>

            <div class="input-field">
                {{form.last_name.label_tag}}
                {{form.last_name}}
                <span class="helper-text" data-error="{{form.last_name.errors}}"></span>
            </div>

            <div class="input-field">
                {{form.password.label_tag}}
                {{form.password}}
                <span class="helper-text" data-error="{{form.password.errors}}"></span>
            </div>

            <div class="input-field">
                {{form.dob.label_tag}}
                {{form.dob}}
                <span class="helper-text" data-error="{{form.dob.errors}}"></span>
            </div>

            <div class="input-field">
                {{form.zip_code.label_tag}}
                {{form.zip_code}}
                <span class="helper-text" data-error="{{form.zip_code.errors}}"></span>
            </div>

            <div class="center-align">
                <button type="submit" class="btn blue darken-1"> {% trans "Signup" %} </button>
            </div>

        </form>
    </div>

    {% endif %}

    

{% endblock content %}
