{% extends 'forum/outer/base.html' %}

{% load i18n %}

{% block title %} {% trans "Signup" %} {% endblock title %}

{% block content %}

    {% if is_message_send %}

        <div style="height:80vh;" class="valign-wrapper hide-on-med-and-down flow-text">
            <div class="card-panel blue white-text">
             {% trans "An verification link is send to your registered mobile number. Click the link to activate your account" %}
            </div>
        </div>

        <div class="card-panel blue white-text hide-on-large-only flow-text">
             {% trans "An verification link is send to your registered mobile number. Click the link to activate your account" %}
        </div>


    {% else %}

        <form method="post">
        
            <div class="card">

                <div class="card-content">

                    <span class="card-title custom-font"> {% trans "Signup" %} </span>

                    <div class="container">
                        <div class="row"></div>
                    </div>

                    <p>
                            {% csrf_token %}

                            <div class="input-field">
                                {{form.name.label_tag}}
                                {{form.name}}
                                <span class="helper-text" data-error="{{form.name.errors}}"></span>
                            </div>

                            <div class="input-field">
                                {{form.phone_number.label_tag}}
                                {{form.phone_number}}
                                <span class="helper-text" data-error="{{form.phone_number.errors}}"></span>
                            </div>
                                
                            <div class="input-field">
                                {{form.password.label_tag}}
                                {{form.password}}
                                <span class="helper-text" data-error="{{form.password.errors}}"></span>
                            </div>

                    </p>

                </div>

                <div class="card-action right-align">
                    <a href="{% url 'forum:login' %}" class="blue-text btn-flat text-darken-3 no-underline waves-effect"> {% trans "Login" %} </a>
                    <button type="submit" class="btn blue darken-3" > {% trans "Signup" %} </button>
                </div>

            </div>
        
        </form>

    {% endif %}

    

{% endblock content %}
